.offer {
  /* padding: 8em 4em; */
  padding: 2em 4em;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */

  gap: 2em;

  justify-items: center;
  align-items: center;

  background-color: white;
}

.offer_item {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: stretch;
  gap: 1em;
  color: black;
}
.offer_img-container {
  background-color: #e5e4e2;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: end;
  padding: 1em;
}

.offer_img {
  display: flex;
  aspect-ratio: 1 / 1;
  height: auto;
  max-width: 100%;
  object-fit: cover;

  /* background-color: #e5e4e2; */
  padding: 2em;
}

.offer_item__title {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.offer_price::after {
  content: "00";
}

@media (max-width: 768px) {
  .offer {
    padding: 2em;
  }
}
