.button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* border: 1px solid #f47950; */
  width: 12em;
  height: 3em;
  font-size: large;
  font-weight: 700;
  font-family: inherit;
  background-color: #f47950;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid #f47950;
}

.button_shop {
  background-color: #047a9c;
}

.button_shop:hover {
  border: 1px solid #047a9c;
  /* border: 1px  */
}

.button_information {
  /* width: 15em; */
  width: 18em;
  font-size: small;
  text-transform: capitalize;
  border-radius: 0;
}

.button_contact {
  width: 100%;
  text-transform: none;
  font-weight: 500;
}
.button_item {
  width: 100%;
  width: 8em;
  height: 2.5em;
  text-transform: none;
  border-radius: 2em;
  background-color: white;
  color: black;
  border: 1px solid gray;
}
.button_item:hover {
  background-color: #f47950;
  color: white;
}

.button_item:active {
  background-color: white;
  color: black;
  border-color: black;
}
.button_cart {
  width: 100%;
  text-transform: none;
  color: black;
  background: white;
  border-color: lightgray;
  height: 2.5em;
}
.button_cart:hover {
  color: white;
  background: #047a9c;
  border-color: transparent;
}
.button_cart:active {
  background: white;
  border-color: black;
  color: black;
}

@media (max-width: 992px) {
  .button {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: medium;
  }
}

@media (max-width: 576px) {
  .button {
    font-size: small;
  }
}
