.cart_icon {
  cursor: pointer;
}

/* .orders_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  padding: 8px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: 20px;
} */
