.commercial_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  background: white;
  padding: 1em 0;
  margin: 0 3em 0;
}

.commercial_icon {
  max-width: 120px;
  filter: grayscale(100%);
  opacity: 0.3;
}

.commercial_icon:hover {
  filter: none;
  opacity: 1;
}
