.landing_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 4em;
  text-align: center;
  background-color: #047a9c;
  color: white;
}

.landing_info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}
.landing_line {
  width: 100%;
  /* border: 0.5px solid yellow; */
}

.landing_headpones {
  max-width: 100%;
  object-fit: cover;
}

.landing_heading {
  /* margin: 12px 0; */
}
.landing_text {
}
@media (max-width: 992px) {
  .landing_outer {
    font-size: medium;
  }
  .landing_heading {
    font-size: 2rem;
  }
  .landing_headpones {
    max-width: 80%;
  }
  .landing_info {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .landing_outer {
    flex-direction: column;
    place-items: center;
    gap: 2em;
    padding: 4em 2em;
    /* padding: 14em 2em; */
  }
  .landing_info {
    place-items: center;
    width: 100%;
    gap: 2em;
  }
  .landing_text {
    word-wrap: break-word;
  }
  .landing_headpones {
    max-width: 100%;
  }
}
