.landing_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 4em;
}

.landing_info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}
.landing_line {
  width: 100%;
  /* border: 0.5px solid yellow; */
}

.landing_headpones {
  max-width: 100%;
  object-fit: cover;
}

.landing_heading {
  margin: 12px 0;
}
