.presentation {
  background: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2em;
  text-align: center;
  padding: 10em 4em;
  color: black;
  font-weight: 500;
}
.presentation_title {
  font-size: 2.5rem;
}

.presentation_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
}

.presentation_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.presentation_icon__title {
  text-transform: uppercase;
}

.presentation_info {
  text-align: center;
  width: 60%;
}

@media (max-width: 768px) {
  .presentation {
    padding: 10em 2em;
  }
  .presentation_info {
    width: 100%;
    padding: 2em 0;
  }
  .presentation_icons {
    flex-wrap: wrap;
  }
}
