.presentation {
  background: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2em;
  text-align: center;
  padding: 10em 4em;
  color: black;
  font-weight: 500;
}
.presentation_title {
  font-size: 2.5rem;
}

.presentation_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
}

.presentation_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.presentation_icon__title {
  text-transform: uppercase;
}

.presentation_info {
  text-align: center;
  width: 50%;
  width: 60%;
  /* padding: 1em; */
  /* font-size: 1rem; */
}
