.recommendations {
  background: white;
  color: black;
  text-align: center;
}
.recommendations_title {
  font-size: 2.5rem;
}

.recommendations_clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3em;
  padding: 6em 4em;
}

.recommendation_client {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1em;
  font-weight: 500;
}

.recommendation_client__img {
  border-radius: 50%;
}

.recommendation_client__name {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .recommendations {
    padding: 2em;
  }
  .recommendations_clients {
    padding: 6em 2em;
  }
}

@media (max-width: 576px) {
  .recommendations_clients {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
