.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,

    #047a9c 50%,
    #047a9c 100%
  );

  text-aling: center;
}
.showcase_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2em;
  color: black;
  padding: 5em;
}

.showcase_headphones {
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
  padding: 5em;
}

.showcase_headphones__img {
  max-width: 100%;
  filter: invert(100%);
  object-fit: contain;
}

@media (max-width: 768px) {
  .showcase {
    flex-direction: column;
    background: white;
  }
  .showcase_headphones {
    background: #047a9c;
    padding: 2em;
  }
  .showcase_info {
    padding: 2em;
  }
}
