.about {
  background: white;
  color: black;
}

.about_info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcf6f1;
  gap: 2em;
  padding: 4em;
}

.about_info__left {
  display: flex;
  justify-content: start;
  align-items: left;
  flex-direction: column;
  gap: 2em;
}

.about_info__right {
  display: flex;
  max-width: 50%;
}

.about_mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em;
  padding: 4em;
}

.about_mission__left {
  display: flex;
  max-width: 50%;
}
.about_mission__right {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
}

.about_story {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcf6f1;
  background-color: #e5e4e2;

  padding: 4em;
}

.about_story__left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about_story__right {
  display: flex;
  max-width: 50%;
}

@media (max-width: 768px) {
  .about_info,
  .about_mission,
  .about_story {
    flex-direction: column;
    text-align: center;
    text-align: justify;
    padding: 2em;

    gap: 1em;
  }
  .about_mission__left,
  .about_story__right {
    max-width: 100%;
  }
  .about_info__right {
    max-width: 100%;
  }
  .about_mission__right {
    padding: 0;
  }
}
