.landing_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.landing_info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}
.landing_line {
  width: 100%;
}

.landing_headpones {
  width: 100%;
  object-fit: cover;
}

.landing_heading {
  margin: 12px 0;
}
