.navigation_outer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: white;
}

.navigation {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  border: 1px solid #e5e4e2;
}

a {
  position: relative;
  text-decoration: none;
  color: #3c5473;

  font-size: 18px;

  font-size: 1.2rem;

  letter-spacing: 0.5px;
  padding: 0 10px;
}
a:before,
a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #3c5473;

  transition: 0.5s;
}
a:after {
  left: 0;
  bottom: -10px;
}
a:before {
  right: 0;
  top: -10px;
}

a:hover:after,
a:hover:before {
  width: 100%;
}

.logo {
  display: flex;
}

.links {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navigation_cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_modal {
  display: none;
}

.orders_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  padding: 8px 16px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -10px;
}
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .links {
    display: none;
  }
  .nav_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
  }
  .navigation {
    border-color: transparent;
    padding: 1em 2em;
  }
  .cart_hamburger {
    display: flex;
  }
}

@media (max-width: 576px) {
  .orders_number {
    font-size: small;
    padding: 6px 12px;
  }
}
