.navigation_outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #e5e4e2;
}

.navigation {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2em; */
  padding: 1em 3em;
}

.navigation a,
.nav_modal a {
  color: #3c5473;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
}

.navigation a:hover,
a.active,
.nav_modal a:hover,
a.active {
  color: #f47950;
}
.logo {
  display: flex;
}

.links {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navigation_cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_modal {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .nav_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}
